.h-8 {
    height: 2rem;
}

#footer{
    padding: 50px;
    background-color: rgb(241, 239, 239);
    display: flex;
    flex-direction: column;
    align-items:  center;
}
#footer-button a{
    margin: 15px;
}
#footer-text{
    width: 40%;
}

#footer-text p{
    text-align: center;
font-size: larger;
color: rgb(122, 121, 121);
}

